@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #25A5E1;
    font-family: 'Sawarabi Mincho', serif;
}

.header {
    background: #8FC953;
    height: 100px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    font-size: 30px;
    line-height: 100px;
    padding: 0 30px;
}

.nav-menu {
    display: flex;
    margin-right: 30px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link:hover {
    color:#25A5E1;
    transition: 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "carrousel carrousel carrousel"
                         "contenido contenido contenido"
                         "widget-1 widget-2 widget-3"
                         "newsletter newsletter newsletter";
    margin: 20px auto;
    padding-top: 100px;
    width: 90%;
}

.contenedor > div,
.contenedor .contenido,
.contenedor .newsletter {
    background: #FFFFFF;
    border-radius: 4px;
    grid-area: contenido;
    padding: 20px;
    box-shadow: 11px 7px 20px -5px rgba(79,79,79,0.77);
    -webkit-box-shadow: 11px 7px 20px -5px rgba(79,79,79,0.77);
    -moz-box-shadow: 11px 7px 20px -5px rgba(79,79,79,0.77);
}

.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3 {
    align-items: center;
    display: flex;
    grid-area: widget-1;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.contenedor .widget-1 {
    background-color: peru;
    grid-area: widget-1;
}

.contenedor .widget-2 {
    background-color: cadetblue;
    grid-area: widget-2;
}

.contenedor .widget-3 {
    background-color: darkslateblue;
    grid-area: widget-3;
}

.contenedor .newsletter {
    grid-area: newsletter;
}

.contenedor .carrousel {
    grid-area: carrousel;
}

.carrousel > img {
    max-width: 100%;
}

.footer {
    align-items: center;
    background: #8FC953;
    color: #FFFFFF;
    height: 60px;
    left: 0px;
    line-height: 60px;
    width: 100%;
}

.widget-img {
    width:300px;
}

@media screen and (max-width: 768px){
    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        line-height: 60px;
        padding: 0 20px;
    }

    .nav-menu {
        align-items: center;
        background-color: #2c3e59;
        flex-direction: column;
        height: calc(100% - 60px);
        left: 0;
        margin-right: 20px;
        overflow-y: auto;
        padding: 20px 0;
        position: fixed;
        top: 60px;
        width: 100%;
        left: 100%;
        transition: left 0.5s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus:visible) {
        outline: none;
    }

    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "carrousel carrousel carrousel"
                             "contenido contenido contenido"
                             "widget-1 widget-2 widget-3"
                             "newsletter newsletter newsletter";
        padding-top: 60px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .carrousel > img {
        max-width: 479px;
    }

    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "carrousel"
                             "contenido"
                             "widget-1" 
                             "widget-2"
                             "widget-3"
                             "newsletter";
        width: 100%;
    }
}